body {
    margin: 0;
    background-color: gold !important;
    
}
.leaflet-container{
    width: 100%;
    height: 100vh;   
}
.nav {
    text-align: center !important;
}
.spaces {
    margin-right: 1050px;
    color: blue;
}

