body {
    margin: 0;
    background-color: grey !important;
    font-weight: bold !important;
    
}
.leaflet-container{
    width: 100%;
    height: 100vh;   
}
.nav {
    text-align: center !important;
}
.spaces {
    margin-right: 1000px;
    color: blue;
    font-size: 2.5vh;
}

